@*@{
    ViewData["Title"] = "Liên hệ Gchil";
}*@
<link href="~/assets/css/contact.css" rel="stylesheet" />

<div class="app__container">
    <div class="grid wide">
        <section class="row bread-crumb-news">
            <div class="col l-12 m-12 c-12">
                <ul class="bread-crumb-news-list">
                    <li class="bread-crumb-news-item">
                        <a href="/" class="bread-crumb-news__link">Trang chủ</a>
                        <i class="fa fa-angle-right bread-crumb-news__icon"></i>
                    </li>
                    <li class="bread-crumb-news-item">
                        <a href="lienhe.html" class="bread-crumb-news__link">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </section>


        <section class="news-item-wrapper row">
            <div class="news-item col l-12 m-12 c-12">
                <div class="row map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.017980802588!2d106.68027971480105!3d10.809934492298828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528ddd9ea1c0f%3A0xadc1f338054c6c40!2zMjQ3LzYgSG_DoG5nIEhvYSBUaMOhbSwgUGjGsOG7nW5nIDUsIFBow7ogTmh14bqtbiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1sen!2s!4v1622291644268!5m2!1sen!2s" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </section>
        <section class="news-item-wrapper row">
            <div class="col l-12 m-12 c-12 box-info-contact">
                <h2>Thông tin liên hệ</h2>
                <ul class="infoList-contact row">
                    <li class="col l-12 m-12 c-12 infoList-contact-item">
                        <!-- <span><i class="fa fa-map-marker"></i></span> -->
                        <span><strong>Địa chỉ</strong><br>247/8 Hoàng Hoa Thám, Phường 5, Phú Nhuận, Thành phố Hồ Chí Minh</span>
                    </li>
                    <li class="col l-12 m-12 c-12 infoList-contact-item">
                        <!-- <span><i class="fa fa-envelope-o"></i></span> -->
                        <span><strong>Email</strong><br>longdhn.lk@gmail.com</span>
                    </li>
                    <li class="col l-12 m-12 c-12 infoList-contact-item">
                        <!-- <span><i class="fa fa-phone"></i></span> -->
                        <span><strong>Điện thoại</strong><br> 0362 218 619</span>
                    </li>
                    <li class="col l-12 m-12 c-12 infoList-contact-item">
                        <!-- <span><i class="fa fa-envelope-o"></i></span> -->
                        <span><strong>Thời gian làm việc</strong><br>Thứ 2 đến Thứ 6 từ 8h đến 22h;<br> Thứ 7 và Chủ nhật từ 8h00 đến 21h00</span>
                    </li>
                </ul>
            </div>
        </section>

    </div>

</div>

@section Scripts {
}