<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G chill</title>
    <link rel="stylesheet" href="./assets/css/grid.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link rel="stylesheet" href="./assets/css/responsive.css">
    <link href="./assets/fonts/fontawesome-free-5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="main ">
        <!-- Header top bar -->
        <div class="header-topbar">
            <div class="header-topbar__left">
                <a href="" class="header-topbar__left-link">
                    Giao hàng tiết kiệm cho đơn hàng trên <span class="header-topbar__left-highlight">499.000₫</span>
                </a>
            </div>

            <div class="header-topbar__center">
                <div class="header-logo">
                    <a href="" class="header-logo-link">
                        G CHILL
                    </a>
                </div>
            </div>

            <div class="header-topbar__right">
                <ul class="header-topbar__right-list">
                    <li class="header-topbar__right-item">
                        <a href="" class="header-topbar__right-link">
                            <div class="header-topbar-phone">
                                0388 653 287
                            </div>
                            <div class="header-topbar__right-phoneDesc">
                                Hỗ trợ mua hàng
                            </div>
                        </a>
                    </li>
                    <li class="header-topbar__right-item">
                        <a href="" class="header-topbar__right-link">
                            <i class="fab fa-facebook-square header-topbar__right-icon"></i>
                        </a>
                    </li>
                    <li class="header-topbar__right-item">
                        <a href="" class="header-topbar__right-link">
                            <i class="fab fa-instagram-square header-topbar__right-icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav">
            <!-- Nav PC -->
            <nav class="nav__pc">
                <ul class="nav__list">
                    <li>
                        <a href="" class="nav__link">TRANG CHỦ</a>
                    </li>
                    <li>
                        <a href="" class="nav__link">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-product--has-notify">
                        <a href="" class="nav__link nav__link-product">
                            SẢN PHẨM
                            <i class="fas fa-angle-down"></i>
                        </a>
                        <div class="nav__submenu row">
                            <div class="c-6 ">
                                <ul class="nav__submenu-left row">
                                    <li class="nav__submenu-mainitem c-6">
                                        <header class="nav__submenu-mainitem-header">
                                            <a href="" class="nav__submenu-mainitem-link">XU HƯỚNG MỚI</a>
                                        </header>
                                        <ul class="nav__submenu-list">
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa xuân</a></li>
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa hè</a></li>
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa đông</a></li>
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa thu</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav__submenu-mainitem c-6">
                                        <header class="nav__submenu-mainitem-header">
                                            <a href="" class="nav__submenu-mainitem-link">XU HƯỚNG MỚI</a>
                                        </header>
                                        <ul class="nav__submenu-list">
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa xuân</a></li>
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa hè</a></li>
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa đông</a></li>
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa thu</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="c-6">
                                <div class="nav__submenu-right row">
                                    <div class="nav__submenu-img c-6">
                                        <a href="" class="nav__submenu-link">
                                            <img src="./assets/img/submenuImg1.jpg" alt="" class="nav__submenu-image">
                                        </a>
                                    </div>
                                    <div class="nav__submenu-img c-6">
                                        <a href="" class="nav__submenu-link">
                                            <img src="./assets/img/submenuImg2.jpg" alt="" class="nav__submenu-image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="" class="nav__link">HÀNG MỚI</a>
                    </li>
                    <li>
                        <a href="" class="nav__link">PHỤ KIỆN</a>
                    </li>
                    <li>
                        <a href="" class="nav__link">BLOG</a>
                    </li>
                    <li>
                        <a href="" class="nav__link">LIÊN HỆ</a>
                    </li>
                </ul>
            </nav>

            <label for="nav-mobile-input" class="nav__bars-btn row">
                <div class="nav-mobile-bars c-1">
                    <i class="fas fa-bars nav-mobile-bars-icon"></i>
                </div>
                <div class="mobile-logo c-11">
                    <a href="" class="mobile-logo-link">G Chill</a>
                </div>
            </label>

            <input type="checkbox" name="" hidden class="nav__input" id="nav-mobile-input">

            <label for="nav-mobile-input" class="nav__overlay"></label>

            <nav class="nav__mobile">
                <label for="nav-mobile-input" class="nav__mobile-close">
                    <i class="fas fa-times nav__mobile-close-icon"></i>
                </label>
                <ul class="nav__mobile-list">
                    <li class="nav__mobile-item">
                        <a href="" class="nav__mobile-link">Trang chủ</a>
                    </li>
                    <li class="nav__mobile-item">
                        <a href="" class="nav__mobile-link">Sản phẩm</a>
                    </li>
                    <li class="nav__mobile-item">
                        <a href="" class="nav__mobile-link">Blog</a>
                    </li>
                    <li class="nav__mobile-item">
                        <a href="" class="nav__mobile-link">Phụ kiện</a>
                    </li>
                    <li class="nav__mobile-item">
                        <a href="" class="nav__mobile-link">Liên hệ</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="slider row">
            <div class="c-12">
                <img class="slider-img" src="./assets/img/slider1.webp" alt="">
            </div>
        </div>

        <div class="app__container">

            @RenderBody();
        </div>
        <footer class="footer grid">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-3 m-4 c-6 company_infomation">
                            <h3 class="footer-header">THÔNG TIN CÔNG TY</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Tìm kiếm</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Giới thiệu</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Chính sách đổi trả</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Chính sách bảo mật</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Điều khoản dịch vụ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col l-3 m-4 c-6 company_infomation">
                            <h3 class="footer-header">HỖ TRỢ KHÁCH HÀNG</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Tìm kiếm</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Giới thiệu</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Chính sách đổi trả</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Chính sách bảo mật</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Điều khoản dịch vụ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col l-3 m-4 c-6 company_infomation">
                            <h3 class="footer-header">DỊCH VỤ KHÁCH HÀNG</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Tìm kiếm</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Giới thiệu</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Chính sách đổi trả</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Chính sách bảo mật</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Điều khoản dịch vụ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col l-3 m-4 c-6 company_infomation">
                            <h3 class="footer-header">KẾT NỐI VỚI CHÚNG TÔI</h3>
                            <span class="address">Địa chỉ: Quận 12, TP Hồ Chí Minh</span><br>
                            <span class="mobile"> Điện thoại: 0388653287 </span>
                            <ul class="footer-social">
                                <li class="facebook footer-social-item">
                                    <a href="#" title="Facebook" target="_blank" rel="nofollow" aria-label="Facebook"
                                       class="footer-social-item__link">
                                        <i class="fab fa-facebook-f footer-social-item__icon"></i>
                                    </a>
                                </li>
                                <li class="twitter footer-social-item">
                                    <a href="#" title="Twitter" target="_blank" rel="nofollow" aria-label="Twitter"
                                       class="footer-social-item__link">
                                        <i class="fab fa-twitter footer-social-item__icon"></i>
                                    </a>
                                </li>
                                <li class="instagram footer-social-item">
                                    <a href="#" title="Instagram" target="_blank" rel="nofollow" aria-label="Instagram"
                                       class="footer-social-item__link">
                                        <i class="fab fa-instagram footer-social-item__icon"></i>
                                    </a>
                                </li>
                                <li class="youtube footer-social-item">
                                    <a href="#" title="Youtube" target="_blank" rel="nofollow" aria-label="Youtube"
                                       class="footer-social-item__link">
                                        <i class="fab fa-youtube footer-social-item__icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>

</body>
</html>