<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ECommerce</title>
    <link rel="stylesheet" href="./assets/css/grid.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link href="./assets/fonts/fontawesome-free-5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="main ">
        <!-- Header top bar -->
        <div class="header-topbar">
            <div class="header-topbar__left">
                <a href="" class="header-topbar__left-link">
                    Giao hàng tiết kiệm cho đơn hàng trên <span class="header-topbar__left-highlight">499.000₫</span>
                </a>
            </div>

            <div class="header-topbar__center">
                <div class="header-logo">
                    <a href="" class="header-logo-link">
                        G CHILL
                    </a>
                </div>
            </div>

            <div class="header-topbar__right">
                <ul class="header-topbar__right-list">
                    <li class="header-topbar__right-item">
                        <a href="" class="header-topbar__right-link">
                            <div class="header-topbar-phone">
                                0388 653 287
                            </div>
                            <div class="header-topbar__right-phoneDesc">
                                Hỗ trợ mua hàng
                            </div>
                        </a>
                    </li>
                    <li class="header-topbar__right-item">
                        <a href="" class="header-topbar__right-link">
                            <i class="fab fa-facebook-square header-topbar__right-icon"></i>
                        </a>
                    </li>
                    <li class="header-topbar__right-item">
                        <a href="" class="header-topbar__right-link">
                            <i class="fab fa-instagram-square header-topbar__right-icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav">
            <!-- Nav PC -->
            <nav class="nav__pc">
                <ul class="nav__list">
                    <li>
                        <a href="" class="nav__link">TRANG CHỦ</a>
                    </li>
                    <li>
                        <a href="" class="nav__link">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-product--has-notify">
                        <a href="" class="nav__link nav__link-product">
                            SẢN PHẨM
                            <i class="fas fa-angle-down"></i>
                        </a>
                        <div class="nav__submenu row">
                            <div class="c-6 ">
                                <ul class="nav__submenu-left row">
                                    <li class="nav__submenu-mainitem c-6">
                                        <header class="nav__submenu-mainitem-header">
                                            <a href="" class="nav__submenu-mainitem-link">XU HƯỚNG MỚI</a>
                                        </header>
                                        <ul class="nav__submenu-list">
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa xuân</a></li>
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa hè</a></li>
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa đông</a></li>
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa thu</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav__submenu-mainitem c-6">
                                        <header class="nav__submenu-mainitem-header">
                                            <a href="" class="nav__submenu-mainitem-link">XU HƯỚNG MỚI</a>
                                        </header>
                                        <ul class="nav__submenu-list">
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa xuân</a></li>
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa hè</a></li>
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa đông</a></li>
                                            <li class="nav__submenu-item"><a href="" class="nav__submenu-link">Xu hướng mùa thu</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="c-6">
                                <div class="nav__submenu-right row">
                                    <div class="nav__submenu-img c-6">
                                        <a href="" class="nav__submenu-link">
                                            <img src="./assets/img/submenuImg1.jpg" alt="" class="nav__submenu-image">
                                        </a>
                                    </div>
                                    <div class="nav__submenu-img c-6">
                                        <a href="" class="nav__submenu-link">
                                            <img src="./assets/img/submenuImg2.jpg" alt="" class="nav__submenu-image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="" class="nav__link">HÀNG MỚI</a>
                    </li>
                    <li>
                        <a href="" class="nav__link">PHỤ KIỆN</a>
                    </li>
                    <li>
                        <a href="" class="nav__link">BLOG</a>
                    </li>
                    <li>
                        <a href="" class="nav__link">LIÊN HỆ</a>
                    </li>
                </ul>
            </nav>

            <label for="nav-mobile-input" class="nav__bars-btn row">
                <div class="nav-mobile-bars c-1">
                    <i class="fas fa-bars nav-mobile-bars-icon"></i>
                </div>
                <div class="mobile-logo c-11">
                    <a href="" class="mobile-logo-link">G Chill</a>
                </div>
            </label>

            <input type="checkbox" name="" hidden class="nav__input" id="nav-mobile-input">

            <label for="nav-mobile-input" class="nav__overlay"></label>

            <nav class="nav__mobile">
                <label for="nav-mobile-input" class="nav__mobile-close">
                    <i class="fas fa-times nav__mobile-close-icon"></i>
                </label>
                <ul class="nav__mobile-list">
                    <li class="nav__mobile-item">
                        <a href="" class="nav__mobile-link">Trang chủ</a>
                    </li>
                    <li class="nav__mobile-item">
                        <a href="" class="nav__mobile-link">Sản phẩm</a>
                    </li>
                    <li class="nav__mobile-item">
                        <a href="" class="nav__mobile-link">Blog</a>
                    </li>
                    <li class="nav__mobile-item">
                        <a href="" class="nav__mobile-link">Phụ kiện</a>
                    </li>
                    <li class="nav__mobile-item">
                        <a href="" class="nav__mobile-link">Liên hệ</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="slider row">
            <div class="c-12">
                <img class="slider-img" src="./assets//img/slider1.webp" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ECommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
