@*@{
    ViewData["Title"] = "Home Page";
}*@
<link href="~/assets/css/aboutUs.css" rel="stylesheet" />

<div class="app__container">
    <div class="grid wide">
        <section class="row bread-crumb-news">
            <div class="col l-12 m-12 c-12">
                <ul class="bread-crumb-news-list">
                    <li class="bread-crumb-news-item">
                        <a href="/" class="bread-crumb-news__link">Trang chủ</a>
                        <i class="fa fa-angle-right bread-crumb-news__icon"></i>
                    </li>
                    <li class="bread-crumb-news-item">
                        <a href="gioithieu.html" class="bread-crumb-news__link">Giới thiệu</a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="news-detail-wrapper row">
            <div class="news-detail col l-12 m-12 c-12">
                <div class="row">
                    <div class="col l-9 m-9 c-12">
                        <h1 class="news-detail-head">Về chúng tôi</h1>
                        <div class="news-detail-content">
                            <p>
                                G-chill một nơi bạn có thể tìm thấy những sản phẩm về thời trang như:
                                quần áo, phụ kiện và những thứ linh tinh trong cuộc sống thường ngày của bạn.
                                Chúng tôi mong muốn từ những món hàng của mình có thể giúp bạn vui vẻ, hạnh phúc
                                hơn một xíu nào đó mỗi ngày. Bởi cuộc sống quá nhiều những áp lực, bộn bề cần phải
                                lo toan, thi thoảng mua sắm một cái gì đó cho bản thân hãy nghỉ ngơi một tí
                                và mỉm cười các bạn nhé!
                            </p>
                            <p>
                                Hiện tại, G-chill chỉ bán hàng online thông qua website, fanpage và
                                một số trang thương mại điện tử khác như shoppe, lazada,...
                                Với nước đi này chúng tôi bán chủ yếu vì đam mê chứ chưa có tiền đủ
                                để mở cửa hàng offline đâu các bạn nhé !
                                Khi nào mở được mình sẽ thông báo cho 1/100 dân số Việt Nam biết
                                (Tương đương khoảng ….. triệu người).
                            </p>
                            <p>
                                G-chill là “Công ty TNHH 2 thành viên” - “Mình”  trong vai “con nhỏ không có gì
                                đặc biệt đang viết cái này” và “bạn của mình”
                                - “Chàng trai IT đẹp trai build cái web này”.
                                Cầu nguyện cho chúng mình nhập được những lô hàng xịn và chất lượng,
                                đơn đi vèo vèo và không ai bom hàng. Tuy Nhiên.
                                Đời đ** như mơ, tụi mình sẽ lạc quan và tin vào tổ tiên
                            </p>
                            Khi mua sản phẩm tại G-chill bạn sẽ được các chính sách sau:
                            <br>
                            <ul>
                                <li>Hoàn trả sản phẩm trong vòng 4 ngày nếu lỗi do nhà sản xuất.</li>
                                <li>Freeship cho những đơn hàng có hóa đơn trên 400k.</li>
                                <li>Giảm 15% cho lần mua hàng lần thứ 2.</li>
                                <li>Giảm 10% khi bạn giới thiệu bạn bè và người thân cùng mua hàng.</li>
                            </ul>

                            <p>
                                Cảm ơn các bạn rất nhiều. 
                                Nếu bạn đã mua hàng tại g-chill chúc bạn có một trải nghiệm sản phẩm và dịch vụ tốt.
                                Nếu bạn chưa mua hàng tại g-chill hy vọng chúng mình sẽ có cơ hội trong tương lai. 
                                Nếu bạn có trải nghiệm không thích lắm hãy nhắn tin hoặc gọi cho mình qua số: 0362 218 619 biết đâu được mình có thể giúp gì đó cho bạn.
                            </p>

                            <p>
                                G-chill<br />
                                Make you happier
                            </p>
                        </div>
                    </div>

                    <div class="col l-3 m-3 c-12 sidebar">
                        <aside class="sidebar-collection-category">
                            <h3 class="sidebar-collection-category-head">DANH MỤC</h3>
                            <ul class="sidebar-collection-list">
                                <li class="sidebar-collection-item">
                                    <a href="/sanpham.html" class="sidbar-collection-item__link">Thời trang</a>
                                </li>
                                <li class="sidebar-collection-item">
                                    <a href="/sanpham.html" class="sidbar-collection-item__link">Sản phẩm bán chạy</a>
                                </li>
                                <li class="sidebar-collection-item">
                                    <a href="/sanpham.html" class="sidbar-collection-item__link">Phụ kiện</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="sidebar-top-news">
                            <h3 class="sidebar-top-news-head">BÀI VIẾT MỚI NHẤT</h3>
                            <ul class="top-news-list">
                                @if (ViewBag.LatestNews != null && ViewBag.LatestNews.Count > 0)
                                {
                                    var index = 0;
                                    foreach (var item in ViewBag.LatestNews)
                                    {
                                        index++;
                                        <li class="top-news-item">
                                            <label class="top-news-item-label">@index</label>
                                            <a class="top-news-item__link" href="~/tintuc/@item.Url">
                                                @item.Title
                                            </a>
                                        </li>
                                    }
                                }

                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>

@section Scripts {
}