/* bread-crumb-detail */

.bread-crumb-detail-list {
    list-style: none;
    padding: 10px 8px;
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
    margin: 0;
    background-color: #F5F4F9;
}

.bread-crumb-detail-item {
    display: inline;
}

.bread-crumb-detail__link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 14px;
    margin-right: 4px;
}

    .bread-crumb-detail__link:hover {
        color: var(--primary-color);
    }

    .bread-crumb-detail__link:last-child {
        color: var(--primary-color);
    }

.bread-crumb-detail__icon {
    color: var(--black-color);
    margin-right: 4px;
    font-size: 14px;
}


.btn-cart-checkout {
    margin: 30px 0;
    background-color: #F5F4F9;
}

.btn-continue-shopping {
    border: 1px solid #45a91a;
    color: #45a91a;
    padding: 6px 8px;
    font-size: 13px;
    border-radius: 4px;
    text-transform:uppercase;
}

.btn-order-now {
    background-color: #48a51f;
    color: #fff;
    padding: 6px 8px;
    font-size: 13px;
    text-transform: uppercase;
}

.cart-product-list {
    border-collapse: collapse;
    border-spacing: 0;
}

    .cart-product-list th, td {
        border: 1px solid #edf2f5;
        text-align: left;
        padding: 10px 5px;
    }

    .cart-product-list th {
        color: #404040;
        font-weight: bold;
        padding: 12px;
        line-height: normal;
    }

.btn_plus_cart {
    width: 40px;
    line-height: 18px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #bcceda;
}

.btn_minus_cart {
    width: 40px;
    margin: 0 5px;
    line-height: 18px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #bcceda;
}

.cart_quantity {
    width: 40px;
    padding: 4px 8px;
    border: 2px solid #edf2f5;
    border-width: 1px;
    border-radius: 0;
    outline: none;
    background: #f7f7f7;
}

.btn_remove_cart {
    width: 40px;
    padding: 4px 8px;
    border: 2px solid #e6b6b6;
    border-width: 1px;
    border-radius: 0;
    outline: none;
    color: #da8787;
    cursor: pointer;
    background: #fff;
}

.checkout-title {
    background-color: #48a51f;
    color: white;
    font-weight: 700;
    padding: 10px 14px 9px 14px;
}

.btn-checkout {
    background-color: #48a51f;
    color: #fff;
    padding: 6px 8px;
    font-size: 13px;
    text-transform: uppercase;
    margin-top:20px;
}

.lbl_checkout{
    margin:10px 0;
}

.group-checkout{
    margin:20px 0;
}

.success_notification{
    font-size:18px;
    text-align:center;
    display: block;
}


.group-checkout {
/*    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;*/
    outline: none;
    /*font-size: 1.4rem;*/
}

    .group-checkout:hover {
        border-color: #1dbfaf;
    }

    .group-checkout.invalid .form-control {
        border-color: #f33a58;
    }

    .group-checkout.invalid .form-message {
        color: #f33a58;
    }

.form-message {
    font-size: 14px;
    line-height: 1.6rem;
    padding: 4px 0 0;
}