/* Mobile & tablet */
@media (max-width: 1023px) {
    :root {
        --navbar-height: 0px;
        --header-height: 68px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .row {
        margin: 0;
    }
}

/* Tablet */
@media (min-width:740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }

    .product-section-label {
        font-size: 32px;
    }

    .product-detail-header {
        text-align: center;
    }

    .product-detail-image {
        width: 99%;
    }

    .sort-product{
        display:none;
    }

    .news-detail img {
        max-width: 200px !important;
        height: auto !important;
    }

    .slide-wrapper {
        max-width: 500px;
        flex-wrap: nowrap;
    }

    .product-detail-slider-item__img {
        max-width: 90px;
        max-height: 72px;
    }

    .product-detail-slider-item {
        max-height: 72px;
    }

    .product-detail-slider-item__img {
        max-height: 70px;
    }
}
