@media(max-width:1500px){

    .cart_content {
        min-height: 350px;
    }

    .success_notification {
        min-height: 300px;
        margin-top:10%;
    }
}

/* Mobile & tablet */
@media (max-width: 1023px) {
    :root {
        --navbar-height: 0px;
        --header-height: 68px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .row {
        margin: 0;
    }
}

/* Tablet */
@media (min-width:740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .btn-add-cart {
        width: 100%;
        bottom: -54px;
        left: 0%;
    }

    .btn-sale-now {
        width: 100%;
        bottom: -93px;
        right: 0;
    }

    .news-wrapper {
        margin-top: 98px;
    }

    .pagination-wrapper {
        margin-top: 100px;
    }
}

/* Mobile */
@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }

    .product-section-label {
        font-size: 25px;
    }

    .news-section-label {
        font-size: 25px;
    }

    .product-detail-header {
        text-align: center;
    }

    .product-detail-image {
        width: 99%;
    }

    .sort-product {
        display: none;
    }

    .news-detail img {
        max-width: 200px !important;
        height: auto !important;
    }

    .slide-wrapper {
        max-width: 500px;
        flex-wrap: nowrap;
    }

    .product-detail-slider-item__img {
        max-width: 90px;
        max-height: 72px;
    }

    .product-detail-slider-item {
        max-height: 72px;
    }

    .product-detail-slider-item__img {
        max-height: 70px;
    }

    .news-item {
        padding-left: 10px;
    }

    .product-description img {
        max-width: 300px;
        height: auto;
    }

    .btn-add-cart {
        width: 100%;
        bottom: -54px;
        left: 0%;
    }

    .btn-sale-now {
        width: 100%;
        bottom: -93px;
        right: 0;
    }

    .news-wrapper {
        margin-top: 98px;
    }

    .pagination-wrapper {
        margin-top: 100px;
    }

    .cart-product-list th {
        font-size: 13px;
        padding:0px;
    }

    .cart-product-list th, td {
        font-size: 13px;
        padding: 0px;
    }

    .btn_minus_cart {
        margin: 10px 0;
    }

    .btn_remove_cart{
        padding:4px 0;
    }


    .btn-add-cart-detail {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-buy-detail {
        width: 100%;
    }
}
